{% extends "base.html" %}

{% block title %}
Patients
{% endblock %}

{% block content %}

<h2 class="mb-4">Patients</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for patient in patients %}

        <tr>

            <td>{{ patient.patient_id }}</td>

            <td>
                {{ patient.user.first_name }}
                {{ patient.user.last_name }}
            </td>

            <td>{{ patient.user.email }}</td>

            <td>{{ patient.gender }}</td>

            <td>{{ patient.blood_group }}</td>
            <td>
                <a
                    href="{% url 'patients:detail' patient.id %}"
                    class="btn btn-sm btn-primary">
                    View
                </a>
            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="5">
                No patients found.
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}