{% extends "base.html" %}

{% block title %}
Create Appointment
{% endblock %}

{% block content %}

<h3 class="mb-4">
    Create Appointment
</h3>

<form method="post">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-3">
        {{ form.patient.label_tag }}
        {{ form.patient }}
        {{ form.patient.errors }}
    </div>

    <div class="mb-3">
        {{ form.doctor.label_tag }}
        {{ form.doctor }}
        {{ form.doctor.errors }}
    </div>

    <div class="mb-3">
        {{ form.appointment_date.label_tag }}
        {{ form.appointment_date }}
        {{ form.appointment_date.errors }}
    </div>

    <div class="mb-3">
        {{ form.appointment_time.label_tag }}
        {{ form.appointment_time }}
        {{ form.appointment_time.errors }}
    </div>

    <div class="mb-3">
        {{ form.reason_for_visit.label_tag }}
        {{ form.reason_for_visit }}
        {{ form.reason_for_visit.errors }}
    </div>

    <button
        type="submit"
        class="btn btn-primary">

        Create Appointment

    </button>

</form>

{% endblock %}