<div class="col-md-2 bg-light border-end min-vh-100">

   <div class="p-3">

        <h5>Menu</h5>

        <hr>

        <ul class="nav flex-column">

            <li class="nav-item mb-2">
                <a
                    href="{% url 'dashboard:dashboard' %}"
                    class="nav-link">

                    Dashboard

                </a>
            </li>


            {% if user.role == "ADMIN" %}

                <li class="nav-item mb-2">
                    <a
                        href="{% url 'patients:list' %}"
                        class="nav-link">

                        Patients

                    </a>
                </li>


                <li class="nav-item mb-2">
                    <a
                        href="{% url 'doctors:list' %}"
                        class="nav-link">

                        Doctors

                    </a>
                </li>

            {% endif %}


            <li class="nav-item mb-2">
                <a
                    href="#"
                    class="nav-link">

                    Appointments

                </a>
            </li>


            <li class="nav-item mb-2">
                <a
                    href="#"
                    class="nav-link">

                    Billing

                </a>
            </li>

        </ul>

    </div>
</div>